* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background: #ffffff;
}
.contenitore{
    background-image: url('https://placeimg.com/1200/700');
    background-size: cover;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    top: 0px;
    left:0px;
    background: #111;
    z-index: 9999;
}
.logo{
    width: 30%;
    height: auto;
}
h1{
    font-size: 30px;
    font-weight: 400px;
    color: #fff;
    cursor: pointer;
}
.menu{
    width: 70%;
    height: auto;
}
li, a{
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}
/*FINE HEADER*/

/*SECTION*/
.frase{
    width: 100%;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
h2{
    color: #fff;
    font-weight: bold;
    font-size: 35px;
}
.social{
    width: 100%;
    height: 100px;
}
.logo, .menu, .social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social .fab{
    font-size: 18px;
}
.center-con{
    display: flex;
    width: 100%;
    height: 280px;
    align-items: center;
    justify-content: center;
}
.round{
    position: absolute;
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
}
#cta{
    width:100%;
    cursor: pointer;
    position: absolute;
}
#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.seconda{margin-left: 8px;}
.next{
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}
@keyframes bounceAlpha{
  0%{opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55%{opacity: 1; transform: translateX(0px) scale(1);}
}
.bounceAlpha{
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.arrow.prima.bounceAlpha{
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.round .arrow{
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.round .arrow.prima{
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/*SEZIONE ABOUT*/
.about{
    width: 100%;
    height: 400px;
    background: white;
    /*display: flex;*/
}
h3{
    padding: 40px;
    font-size: 35px;
    text-transform: capitalize;
    text-align: center;
}
p{
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: #414141;
}
p{
    color: #414141;
}
.contenitore-colonne{
    display: flex;
    /* justify-content: space-between;*/
    width: 70%;
    margin: auto;
}
.contenitore-colonne .fas{
    font-size: 60px;
    margin: 10px;
}
.box-colonna{
    margin: auto;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
}
.par{
    text-align: justify;
    font-size: 14px;
    color: #414141;
}
h4{
    margin-left: 15px;
    text-align: justify;
}
/*WATCH*/
/*
.watch{
    width: 100%;
    height: 100px;
    display: flex;
} */
.images{
    width: 100%;
    height: auto;
    background-size: cover;
}
.watch{
    background-image: url('https://placeimg.com/1200/200');
    filter: brightness(70%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch .far{
    font-size: 80px;
    color: #fff;
    margin: 50px 0px;
}

.offer{
    width: 100%;
    height: 600px;
    background: #ffffff;
}
h5{
    margin-top: 5px;
    padding: 20px;
}
.contenitore-principale{
    display: flex;
    justify-content: space-between;
    max-width: 990px;
    margin:auto;
    width: 100%;
}
.contenitore-titolo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box .far{
    font-size: 35px;
}
.box .fas{
    font-size: 35px;
}
.box{
    width: 30%;
}
.contenitore-paragrafo{
    text-align: center;
}
.check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.check .fas{
    font-size: 17px;
}
.con-text{
    display:flex;
    align-items: center;
}
.con-text p{
    margin-top: 0px;
    color: #414141;
}
/*SEZIONE FOTO*/
.photo{
    width: 100%;
    height: 1000px;
    background: #F7F7F7;
}
ul{
    text-align: center;
    padding: 10px;
}
.color{
    color: #444444;
    display: flex;
    justify-content: center;
    display: inline-block;
    cursor: pointer;
}
.galleria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.galleria div{
    width: 33%;
    height: 400px;
    -webkit-background-size: cover;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galleria div.box{
    width:100%;
    display: flex;
    flex-direction: column;
}
.uno{
    background-image: url('https://placeimg.com/470/340');
}
.due{
    background-image: url('https://placeimg.com/470/340');
}
.tre{
    background-image: url('https://placeimg.com/470/340');
}
.quattro{
    background-image: url('https://placeimg.com/470/340');
}
.cinque{
    background-image: url('https://placeimg.com/470/340');
}
.sei{
    background-image: url('https://placeimg.com/470/340');
}
.galleria div:hover{
    filter: brightness(70%);
}
h6{
    color: #fff;
    font-size: 25px;
    text-align: center;
}
.galleria p{
    color: #fff;
}
.expert{
    width: 100%;
    height: 400px;
    background: yellow;
}