* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/*
TODO: non ho ben capito, ho creato il contenitore ma non vedo lo sfondo che ho scelto fino all'animazione
Non vedi lo sfondo perchè:
1 non è url ma background-image: url('link)
2 Il link che hai inserito è sbagliato per questo ti ho detto di usare https://placeimg.com/420/320
*/
.contenitore{
    /*url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/58/39/5857a2b29776999.jpg") no-repeat center fixed;*/
    background-image: url('https://placeimg.com/1200/700');
    background-size: cover;
    filter: brightness(90%);
}

/*
TODO: position:fixed ma quando scrollo non c'è
In questo caso non devi usare position:fixed, ma position: sticky
*/
header{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    position: sticky;
    top: 0px;
    left:0px;
   /* background: #ccc; */
}
.logo{
    width: 30%;
    height: auto;
}
h1{
    font-size: 30px;
    font-weight: 400px;
    color: #fff;
    cursor: pointer;
}
.menu{
    width: 70%;
    height: auto;
}

li, a{
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}
/*FINE HEADER*/

/*SECTION*/
.frase{
    width: 100%;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  /*  background: #ccc; */
}
h2{
    color: #fff;
    font-weight: bold;
    font-size: 35px;
}
.social{
    width: 100%;
    height: 100px;
 /*   background: #ccc; */
}
.logo, .menu, .social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social .fab{
    font-size: 18px;
}
.center-con{
    display: flex;
    width: 100%;
    height: 280px;
    align-items: center;
    justify-content: center;
  /*  background: #ccc; */
}
.round{
    position: absolute;
  /*  border: 2px solid #fff; */
    width: 40px;
    height: 40px;
 /*   border-radius: 100%; */
  /*  background: red; */
    transform: rotate(90deg);
}
#cta{
    width:100%;
    cursor: pointer;
    position: absolute;
}
#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.seconda{margin-left: 8px;}
.next{
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}
@keyframes bounceAlpha{
  0%{opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55%{opacity: 1; transform: translateX(0px) scale(1);}
}
.bounceAlpha{
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.arrow.prima.bounceAlpha{
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.round .arrow{
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.round .arrow.prima{
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.about{
    width: 100%;
    height: 540px;
    background: white;
   /* display: flex; */
}
h3{
    margin-top: 25px;
    padding: 40px;
    font-size: 35px;
    text-transform: capitalize;
    text-align: center;
}
p{
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

.paragrafo{
}
/*
TODO: sto cercando di centrare il tsto con il suo titolo, uno affianco all'altro
Devi creare
.contenitore-colonne e gli dai display flex; justify-content: space-between, e gli dai una lughezza massima del contenitore
---.box-colonna, gli dai una lunghezza massima per ogni singola colonna
------titolo
------paragrafo

*/
.tre{
}

